In [ ]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow.dataset as ds
from pathlib import Path
from chronos import Chronos2Pipeline


# Path to the directory
parquet_dir = Path("tester.parquet")

dataset = ds.dataset(parquet_dir, format="parquet")
df = dataset.to_table().to_pandas()
df.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2,timestamp_rounded
0,85556,SDS011,76002,52.52589960,13.30776710,2025-11-08T00:00:03,30.38,None,None,18.78,None,None,2025-11-08
1,85556,SDS011,76002,52.52589960,13.30776710,2025-11-08T00:00:10,29.85,None,None,18.80,None,None,2025-11-08
2,85556,SDS011,76002,52.52589960,13.30776710,2025-11-08T00:00:16,28.58,None,None,18.74,None,None,2025-11-08
3,85556,SDS011,76002,52.52589960,13.30776710,2025-11-08T00:00:22,28.58,None,None,19.05,None,None,2025-11-08
4,85556,SDS011,76002,52.52589960,13.30776710,2025-11-08T00:00:28,28.27,None,None,19.48,None,None,2025-11-08

In [ ]:
# ----------------------------
# Convert timestamp to datetime
# ----------------------------
df['timestamp'] = pd.to_datetime(df['timestamp'])

# ----------------------------
# Aggregate P2 by sensor location and day
# ----------------------------
df['date'] = df['timestamp'].dt.floor('D')

# Ensure P2 is float before aggregation
df['P2'] = pd.to_numeric(df['P2'], errors='coerce')  # invalid parsing becomes NaN

# Create date column for daily aggregation
df['date'] = pd.to_datetime(df['timestamp']).dt.floor('D')

# Aggregate by sensor location and day
daily_avg = (
    df.groupby(['lat', 'lon', 'date', 'sensor_id'], as_index=False)['P2']
      .mean()
      .rename(columns={'P2': 'target'})  # Chronos expects 'target'
)

# Drop any rows where aggregation produced NaN (if all values were NaN that day)
daily_avg = daily_avg.dropna(subset=['target']).reset_index(drop=True)

# ---------------------------
print(daily_avg.head())

# Use sensor_id as item_id
daily_avg['item_id'] = daily_avg['sensor_id']

# Build mapping for kriging
location_dict = daily_avg.groupby('item_id')[['lat','lon']].first().apply(tuple, axis=1).to_dict()

# Keep only relevant columns -- CHRONOS DF
daily_df = daily_avg[['date', 'item_id', 'target']].rename(columns={'date':'timestamp'})

print(daily_df.columns)

           lat          lon       date sensor_id    target
0  52.34112525  13.40416440 2025-11-06     88152  3.073469
1  52.34112525  13.40416440 2025-11-07     88152  5.041851
2  52.34112525  13.40416440 2025-11-08     88152  7.573447
3  52.34112525  13.40416440 2025-11-09     88152  6.755453
4  52.34112525  13.40416440 2025-11-10     88152  5.223844
Index(['timestamp', 'item_id', 'target'], dtype='object')
{'10162': ('52.556', '13.384'), '11957': ('52.576', '13.348'), '12171': ('52.418', '13.668'), '12603': ('52.508', '13.284'), '12762': ('52.490', '13.378'), '13090': ('52.604', '13.438'), '13197': ('52.514', '13.440'), '13366': ('52.612', '13.630'), '13368': ('52.520', '13.450'), '13588': ('52.552', '13.434'), '13733': ('52.560', '13.508'), '1376': ('52.502', '13.488'), '13834': ('52.614', '13.500'), '1412': ('52.526', '13.408'), '14681': ('52.498', '13.480'), '15293': ('52.534', '13.436'), '15317': ('52.528', '13.346'), '15536': ('52.448', '13.270'), '15563': ('52.554', '13.364'), '15843': ('52.436', '13.346'), '16312': ('52.622', '13.296'), '16866': ('52.596', '13.320'), '17686': ('52.538', '13.266'), '18376': ('52.624', '13.544'), '1847': ('52.448', '13.356'), '18473': ('52.408', '13.500'), '18796': ('52.612', '13.300'), '18879': ('52.378', '13.404'), '18983': ('52.552', '13.436'), '19095': ('52.520', '13.332'), '19645': ('52.446', '13.452'), '19727': ('52.530', '13.390'), '20478': ('52.490', '13.434'), '2055': ('52.560', '13.374'), '20826': ('52.508', '13.236'), '20861': ('52.532', '13.348'), '20972': ('52.370', '13.314'), '2107': ('52.492', '13.388'), '2119': ('52.540', '13.420'), '2123': ('52.460', '13.528'), '21334': ('52.670', '13.544'), '2211': ('52.586', '13.288'), '22184': ('52.516', '13.318'), '22240': ('52.524', '13.694'), '22826': ('52.562', '13.418'), '23322': ('52.554', '13.554'), '23472': ('52.516', '13.564'), '25758': ('52.496', '13.456'), '25899': ('52.58625400', '13.22847120'), '2618': ('52.346', '13.096'), '26261': ('52.446', '13.280'), '26365': ('52.47990905', '13.52331794'), '26696': ('52.614', '13.496'), '26912': ('52.50819840', '13.46272320'), '26951': ('52.418', '13.398'), '2724': ('52.596', '13.112'), '27293': ('52.556', '13.430'), '27517': ('52.482', '13.142'), '27812': ('52.48005879', '13.34905654'), '28245': ('52.512', '13.300'), '28359': ('52.41282660', '13.42088770'), '28489': ('52.53145992', '13.43536198'), '29024': ('52.51410872', '13.71683568'), '29150': ('52.46500200', '13.32342500'), '29380': ('52.490', '13.326'), '3036': ('52.550', '13.408'), '31204': ('52.52710560', '13.69906070'), '31298': ('52.350', '13.402'), '31450': ('52.474', '13.304'), '32501': ('52.516', '13.460'), '32974': ('52.60475078', '13.36680043'), '3355': ('52.486', '13.374'), '33698': ('52.436', '13.312'), '33796': ('52.50015930', '13.35600530'), '3491': ('52.480', '13.422'), '3563': ('52.388', '13.096'), '35795': ('52.428', '13.302'), '35807': ('52.44556870', '13.34999639'), '36091': ('52.388', '13.390'), '36899': ('52.49392260', '13.39936450'), '37449': ('52.582', '13.406'), '37517': ('52.498', '13.446'), '37519': ('52.44161780', '13.41751260'), '3755': ('52.526', '13.360'), '38174': ('52.49604850', '13.26413510'), '3943': ('52.546', '13.428'), '3979': ('52.452', '13.120'), '40765': ('52.556', '13.376'), '40807': ('52.504', '13.498'), '41261': ('52.532', '13.352'), '41943': ('52.610', '13.244'), '42226': ('52.378', '13.122'), '43337': ('52.492', '13.434'), '43626': ('52.586', '13.442'), '43640': ('52.546', '13.570'), '44120': ('52.504', '13.478'), '44310': ('52.34779846', '13.09706837'), '44720': ('52.534', '13.398'), '45762': ('52.408', '13.356'), '47575': ('52.456', '13.328'), '47966': ('52.456', '13.620'), '4915': ('52.406', '13.230'), '4961': ('52.468', '13.342'), '50066': ('52.524', '13.340'), '50221': ('52.39202801', '13.09366014'), '5026': ('52.480', '13.354'), '5040': ('52.568', '13.364'), '50549': ('52.512', '13.460'), '51034': ('52.546', '13.230'), '51354': ('52.50084329', '13.43152642'), '51616': ('52.588', '13.394'), '5355': ('52.486', '13.386'), '53811': ('52.58392880', '13.33615820'), '53931': ('52.496', '13.482'), '56680': ('52.388', '13.390'), '56927': ('52.502', '13.426'), '5706': ('52.46712100', '13.30488861'), '5710': ('52.524', '13.422'), '57233': ('52.604', '13.318'), '60516': ('52.45310519', '13.56797844'), '6119': ('52.496', '13.298'), '6209': ('52.550', '13.148'), '6438': ('52.540', '13.290'), '64413': ('52.47797570', '13.38548270'), '6537': ('52.508', '13.454'), '65667': ('52.542', '13.232'), '6825': ('52.476', '13.316'), '68306': ('52.52661680', '13.69721210'), '68686': ('52.53778507', '13.48292112'), '68976': ('52.568', '13.588'), '69008': ('52.472', '13.380'), '6928': ('52.616', '13.238'), '70078': ('52.49501860', '13.45689545'), '70334': ('52.38735672', '13.38938764'), '7051': ('52.444', '13.556'), '70526': ('52.41252655', '13.10853920'), '70607': ('52.51076910', '13.27058530'), '70903': ('52.41768788', '13.34519148'), '71083': ('52.672', '13.548'), '71462': ('52.608', '13.260'), '7158': ('52.374', '13.132'), '7203': ('52.460', '13.322'), '72065': ('52.516', '13.420'), '72203': ('52.46484950', '13.42586900'), '72235': ('52.498', '13.462'), '72520': ('52.41204745', '13.33613610'), '7263': ('52.480', '13.348'), '73881': ('52.52803850', '13.41434980'), '74789': ('52.406', '13.416'), '77178': ('52.39808494', '13.40041260'), '78143': ('52.522', '13.622'), '78412': ('52.348', '13.660'), '78796': ('52.48179110', '13.42937950'), '80243': ('52.58726478', '13.40477432'), '80322': ('52.372', '13.610'), '80508': ('52.602', '13.434'), '8092': ('52.420', '13.334'), '80977': ('52.47263136', '13.34297922'), '81487': ('52.530', '13.370'), '81508': ('52.412', '13.554'), '828': ('52.558', '13.188'), '83560': ('52.584', '13.392'), '83562': ('52.500', '13.482'), '84042': ('52.540', '13.416'), '84095': ('52.37799003', '13.09122920'), '84347': ('52.49634569', '13.43316257'), '84379': ('52.514', '13.468'), '85065': ('52.588', '13.224'), '85498': ('52.510', '13.396'), '85556': ('52.52589960', '13.30776710'), '85676': ('52.48764330', '13.38649760'), '85785': ('52.474', '13.332'), '8654': ('52.514', '13.462'), '8675': ('52.486', '13.424'), '86868': ('52.488', '13.326'), '87048': ('52.466', '13.482'), '87630': ('52.492', '13.446'), '87730': ('52.454', '13.500'), '87763': ('52.556', '13.464'), '87879': ('52.558', '13.564'), '88152': ('52.34112525', '13.40416440'), '88791': ('52.586', '13.284'), '88808': ('52.38535529', '13.39390469'), '89586': ('52.474', '13.372'), '89894': ('52.58076220', '13.42607630'), '90248': ('52.558', '13.336'), '9304': ('52.422', '13.486'), '9310': ('52.464', '13.480'), '9392': ('52.508', '13.422'), '9409': ('52.576', '13.568'), '9767': ('52.520', '13.494'), '9809': ('52.514', '13.192')}

In [ ]:
# ----------------------------
# Config
# ----------------------------
FORECAST_DAYS = 3
QUANTILES = [0.1, 0.5, 0.9]

# Ensure correct columns for Chronos
daily_df = daily_df.rename(columns={"sensor_id":"item_id", "date":"timestamp"})
daily_df['timestamp'] = pd.to_datetime(daily_df['timestamp'])

# ----------------------------
# Pivot to wide format if needed
# ----------------------------
df_wide = daily_df.pivot(index="timestamp", columns="item_id", values="target").asfreq("D")

# Filter sensors with enough data
sensor_counts = df_wide.notna().sum()
valid_sensors = sensor_counts[sensor_counts >= 10].index
df_wide = df_wide[valid_sensors]

# ----------------------------
# Convert back to long format for Chronos
# ----------------------------
train_long = df_wide.reset_index().melt(id_vars="timestamp", var_name="item_id", value_name="target")

# ----------------------------
# Load Chronos model
# ----------------------------
pipeline = Chronos2Pipeline.from_pretrained("amazon/chronos-2", device_map="cuda")

# ----------------------------
# Predict
# ----------------------------
pred_df = pipeline.predict_df(
    train_long,
    prediction_length=FORECAST_DAYS,
    quantile_levels=QUANTILES,
    id_column="item_id",
    timestamp_column="timestamp",
    target="target"
)